    .a {
        width: 600px;
        line-height: 30px;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
    }

    .a h2 {
        text-align: center;
        color: red;
    }

    .a h3 {
        text-align: left;
        color: green;
    }

    .a p {
        text-indent: 2em;
    }